# Android / Gradle
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.dex
*.class
*.log
*.tmp
*.bak
/app/build
/app/release
*.jks
!signing/relocate-release.jks
*.keystore
*.b64
